{% block content %}
    Hello {{ user.firstname }},<br/><br/>

    Thank you for registering !
    Click <a href="{{ activationUrl }}">here</a> to confirm your registration !<br/><br/>

    Best regards<br/><br/>
    The Souin Team
{% endblock %}
