@tailwind base;
@tailwind components;
@tailwind utilities;

body, #__next {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

main {
    flex: 1;
}

.min-h-75 {
    min-height: 75vh;
}

a.active {
  @apply bg-base-300 text-base-content;
}