@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: Montserrat, serif;
        @apply no-underline text-rich_black;
    }

    .logo_souin {
        letter-spacing: -4px;
        margin-right: 3px;
    }

    .logo_app {
        @apply text-argentinian_blue;
        font-weight: 600;
    }
}

@layer utilities {
    .ribbon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(13.397459%, -100%) rotate(30deg); /* translateX: 100%*(1-cos(angleRotation) */
        transform-origin: bottom left;
  }
}
