name: Analyze

on:
  push:
    branches:
      - main
  pull_request: ~
  workflow_dispatch: ~

defaults:
  run:
    working-directory: ./api

jobs:
  tests:
    name: analysis
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: pecl, composer
          extensions: intl, bcmath, curl, openssl, mbstring
          coverage: none
          ini-values: memory_limit=-1
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: composer install
      - name: PHPStan
        run: vendor/bin/phpstan analyse ./src --level 9
      - name: PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix src
      - name: Psalm
        run: vendor/bin/psalm
